--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0

numpy==1.26.4
scipy==1.11.4
soundfile==0.12.1
librosa==0.10.2.post1

torchlibrosa==0.1.0
efficientnet-pytorch==0.7.1
pytorch-lightning==2.2.5
setuptools<81

boto3==1.42.21